.progress
{
    text-align: center;
    height: 4em;
    background-image: url(../websedit-ag-bar.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
DT
{
    border-top: 1px solid black;
    font-size: larger;
    font-weight: bold;
}
DD.status
{
    font-weight: bold;
}
DD.dbg, DD.metrics
{
    font-size: small;
}

DD.Warn
{
    color: Orange;
}
DD.OK
{
    color: Green;
}
DD.Err
{
    color: Red;
}

/*
DT
{
    float:left;
}
DD.status
{
    float:right;
}
DD.dbg
{
    float:right;
    clear:both;
}
DD.metrics
{
    float:right;
}
DD.msgs,DD.raw
{
    float:left;
}
*/
/*
!!!!
#uriReferences ~ DD.raw
{
    display:none;
}
*/

